:root {
  --main-branding-color: #bb5a5a;
  --serif-font: "Playfair Display", serif;
  --sans-serif-font: "Cabin", sans-serif;
}

body {
  text-align: center;
  background-color: #f9f5f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font);
  font-weight: bold;
}
h2 {
  background: var(--main-branding-color);
  padding: 30px;
}

h2 a {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  color: black;
  text-decoration: underline;
}
h3 {
  padding: 8px;
}
p {
  font-family: var(--sans-serif-font);
}

.learn-more-btn {
  background-color: var(--main-branding-color);
  font-family: var(--sans-serif-font);
}

.navbar-nav {
  margin-left: auto;
}

.navbar {
  background-color: var(--main-branding-color);
  color: black;
  font-family: var(--sans-serif-font);
}
.navbar-toggler {
  color: black;
}

.navbar a {
  color: black;
}

.padding-ult {
  padding: 48px;
}
.italicize {
  font-style: italic;
}

.cta {
  background: rgb(187, 90, 90, 0.3);
  line-height: 1;
}

.social-links a {
  color: black;
  font-size: 24px;
  margin: 10px;
}

.social-links a:hover {
  color: var(--main-branding-color);
  font-size: 24px;
  margin: 10px;
}

@media (max-width: 900px) {
  .padding-ult {
    padding: 16px;
  }
}
