body {
  text-align: center;
  background-color: #f9f5f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h2 {
  background: #bb5a5a;
  padding: 30px;
}
p {
  font-family: "Cabin", sans-serif;
}

.navbar-nav {
  margin-left: auto;
}

.navbar {
  background-color: #bb5a5a;
  color: black;
}
.navbar-toggler {
  color: black;
}

.navbar a {
  color: black;
}
