body {
  text-align: center;
  background-color: #f9f5f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h2 {
  background: #bb5a5a;
  padding: 30px;
}

h2 a {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  color: black;
  text-decoration: underline;
}
h3 {
  padding: 8px;
}
p {
  font-family: "Cabin", sans-serif;
}

.learn-more-btn {
  background-color: #bb5a5a;
  font-family: "Cabin", sans-serif;
}

.navbar-nav {
  margin-left: auto;
}

.navbar {
  background-color: #bb5a5a;
  color: black;
  font-family: "Cabin", sans-serif;
}
.navbar-toggler {
  color: black;
}

.navbar a {
  color: black;
}

.padding-ult {
  padding: 48px;
}

@media (max-width: 900px) {
  .padding-ult {
    padding: 16px;
  }
}
